<div class="progressbar">
    <div class="progressbar-inner">
        <div class="row">
            <div class="item span4">
                <div class="number">1</div>
                <strong>{{ wp.__('Info', 'aviators') }}</strong>
            </div><!-- /.item  -->

            <div class="item span4">
                <div class="number">2</div>
                <strong>{{ wp.__('Amenities', 'aviators') }}</strong>
            </div><!-- /.item  -->

            <div class="item span4">
                <div class="number">3</div>
                <strong>{{ wp.__('Details', 'aviators') }}</strong>
            </div><!-- /.item  -->
        </div><!-- /.row -->
    </div><!-- /.progressbar-inner -->
</div><!-- /.progressbar -->