{{ wp.get_header() }}

<div id="content" class="clearfix">
    {% if wp.dynamic_sidebar('top') %}{% endif %}

    <div class="container">
        <div class="row">
            {% include 'helpers/messages.twig' %}


            <div id="main" class="span12">
                {% if not wp.dynamic_sidebar('content-top') %}{% endif %}

                {% block content %}{% endblock %}

                {% if not wp.dynamic_sidebar('content-bottom') %}{% endif %}
            </div><!-- /#main -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    {% if wp.dynamic_sidebar('bottom') %}{% endif %}
</div><!-- /#content -->

{{ wp.get_footer() }}